<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0bd4a7c684.js" crossorigin="anonymous"></script>
    <link rel ="stylesheet" href="css/styles.css">
    <title>Mercado Liebre</title>

</head>
<body>
    <header> 
        <div class="top-header">
            <div class="logo">
                <a href="/home">
                <img src="img/logo-mercado-liebre.svg" width=100% alt = "logo principal">
                </a>
            </div>            
            <div class="form" action="#" method="GET">                
                <input type="text" placeholder="Buscar productos, marcas y más..." name="search" class="input">
                <button type="submit"><i class="fa fa-search"></i></button>                
            </div>
            <br>
            <div class="frase-header">
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        
        </div>

        <br>

        <nav>
            <ul>
                <li class="li-left"><a href="#">Ofertas</a></li>
                <li class="li-left"><a href="#">Tienda Oficial</a></li>
                <li class="li-left"><a href="#">Vender</a></li>
                <li class="li-left"><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li class="li-right"><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li class="li-right"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li class="li-right"><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav> 
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </header>
    <section>
        <img src="img/img-home-banner.jpg" width="100%" alt="Banner de ofertas">

    </section>

    <main>
        <section>
            <h3>Basado en tu última visita</h3>
        </section>
        
        <section>
            <div class="products"> 
                <article>
                    <img src="img/img-cafetera-moulinex.jpg" width=100% alt= "Cafetera Moulinex">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
            
                <article>
                    <img src="img/img-macbook-pro-2019.jpg" width="100%" alt= "MacBook pro">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% OFF</p>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>

                <article>
                    <img src="img/img-samsung-galaxy-s10.jpg" width="100%" alt= "Samsung 10">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% OFF</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>  
                </article>

                <article>
                    <img src="img/img-tv-samsung-smart.jpg" width="100%" alt= "TV Samsung Smart">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% OFF</p>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    

        <section>
            <h3>Ofertas</h3>  
        </section>  

        <section>
            <div class="products"> 
                <article>
                    <img src="img/img-cafetera-moulinex.jpg" width="100%" alt= "Cafetera Moulinex">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
            
                <article>
                    <img src="img/img-macbook-pro-2019.jpg" width="100%" alt= "MacBook pro">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% OFF</p>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>

                <article>
                    <img src="img/img-samsung-galaxy-s10.jpg" width="100%" alt= "Samsung 10">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% OFF</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>  
                </article>

                <article>
                    <img src="img/img-tv-samsung-smart.jpg" width="100%" alt= "TV Samsung Smart">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% OFF</p>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>

</body>
<footer>
        <div class="footer-icon">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>

        <div class="footer-icon">
            <i class="fas fa-gift"></i>                
            
        <h4>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="footer-icon">
            <i class="fas fa-user-shield"></i>
                    <h4>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>


       
</footer>

<h5>Copyright © 1999-2020 MercadoLiebre S.R.L</h4>

</html>