<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0bd4a7c684.js" crossorigin="anonymous"></script>
    <link rel ="stylesheet" href="css/styles.css">
    <title>Mercado Liebre</title>

</head>
<body>
    <header> 
        <div class="top-header">
            <div class="logo">
                <a href="/home">
                <img src="img/logo-mercado-liebre.svg" width=100% alt = "logo principal">
                </a>
            </div>            
            <div class="form" action="#" method="GET">                
                <input type="text" placeholder="Buscar productos, marcas y más..." name="search" class="input">
                <button type="submit"><i class="fa fa-search"></i></button>                
            </div>
            <br>
            <div class="frase-header">
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        
        </div>

        <br>

        <nav>
            <ul>
                <li class="li-left"><a href="#">Ofertas</a></li>
                <li class="li-left"><a href="#">Tienda Oficial</a></li>
                <li class="li-left"><a href="#">Vender</a></li>
                <li class="li-left"><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li class="li-right"><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li class="li-right"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li class="li-right"><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav> 
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </header>
    <main>
        <section>
            <form action="/" method="POST">
                <p class="login">
                <label for="user">Nombre de usario</label>   
                <input type="text" name="user">
                </p>

                <p class="login">
                <label for="pass">Ingrese contraseña</label>   
                <input type="text" name="pass">
                </p>

                <p>
                <button type="ingresar" class="boton-login">Ingresar</button>
                </p>

            </form>
        </section>

    </main>