<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0bd4a7c684.js" crossorigin="anonymous"></script>
    <link rel ="stylesheet" href="css/styles.css">
    <title>Mercado Liebre</title>

</head>
<body>
    <header> 
        <div class="top-header">
            <div class="logo">
                <a href="/home">
                <img src="img/logo-mercado-liebre.svg" width=100% alt = "logo principal">
                </a>
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <br>
            <div class="frase-header">
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        
        </div>

        <br>

        <nav>
            <ul>
                <li class="li-left"><a href="#">Ofertas</a></li>
                <li class="li-left"><a href="#">Tienda Oficial</a></li>
                <li class="li-left"><a href="#">Vender</a></li>
                <li class="li-left"><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li class="li-right"><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li class="li-right"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li class="li-right"><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav> 
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </header>
    <main>
        <section class="register-body">
            <form action="/" method="POST">
                <p class="login">
                    <label for="user">Nombre y apellido</label>   
                    <input type="text" name="user">
                </p>

                <p class="login">
                    <label for="pass">Nombre de Usuario</label>   
                    <input type="text" name="pass">
                </p>                

                <p class="login">
                    <label for="pass">email</label>   
                    <input type="text" name="pass">
                </p>

                <h4>Fecha de Nacimiento</h4>

                <form action="/action_page.php">
                    <p class="calendario">
                    <input type="date" id="birthday" name="birthday">
                    </p>
                </form>

                <p class="login">
                    <label for="pass">Domicilio</label>   
                    <input type="text" name="pass">
                </p>

                <h4>Perfil del usuario</h4> 
                <div class="user-profile">
                    <input type="radio" name="perfil-usuario" value="Comprador">
                    <label for="vendedor">Vendedor</label>
                    <input type="radio" name="perfil-usuario" value="Vendedor">
                    <label for="comprador">Comprador</label>
                </div>

                <h4>Intereses</h4> 
                <div class="interest">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="a">
                        <label for="b">Moda</label>
                    </div>
                    <div> 
                        <input type="checkbox" name="interests" value="c" id="a">
                        <label for="c">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="d" id="a">
                        <label for="d">Juguetería</label>
                    </div>
                    <div>   
                        <input type="checkbox" name="interests" value="e" id="a">
                        <label for="e">Vida Sana</label>
                    </div>
                </div>

                <h4>Subí tu foto de usuario</h4>
                <br>
                <form action="/action_page.php">
                    <label for="myfile"></label>
                    <input type="file" id="myfile" name="myfile"><br>
                </form>

                <p class="login">
                    <label for="pass">Contraseña</label>   
                    <input type="text" name="pass">
                </p>

                <p class="login">
                    <label for="pass">Repetir contraseña</label>   
                    <input type="text" name="pass">
                </p>

                <button type="ingresar" class="botones-juntos">Enviar</button>
                <button type="ingresar" class="botones-juntos">Borrar</button>
                

            </form>
        </section>

    </main>